<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>

    <springProperty scope="context" name="logging.path" source="logging.path"/>
    <springProperty scope="context" name="logging.file" source="logging.file"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/${logging.file}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 30 days -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILEOUT_SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.sql.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/${logging.file}.%d{yyyy-MM-dd}.sql.log</fileNamePattern>
            <!-- 30 days -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILEOUT"/>
    </root>


    <!-- local -->
    <springProfile name="local,test,dev">
        <logger name="com.codi" level="DEBUG"/>
        <logger name="com.spy" level="DEBUG"/>
        <logger name="io.netty" level="DEBUG"/>

        <logger name="java.sql" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springboot.sample" level="WARN"/>
        <logger name="org.mybatis" level="INFO"/>
        <logger name="org.apache.ibatis" level="INFO"/>
        <logger name="druid.sql" level="DEBUG"/>
        <!--<logger name="org.apache.juli" level="WARN"/>-->
        <logger name="com.alibaba.dubbo" level="DEBUG"/>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="com.codi" level="INFO"/>
        <logger name="com.spy" level="INFO"/>

        <logger name="org.springframework" level="WARN"/>
        <logger name="org.springboot.sample" level="WARN"/>
        <logger name="org.mybatis" level="INFO"/>
        <logger name="org.apache.ibatis" level="WARN"/>
        <logger name="druid.sql" level="INFO"/>
        <logger name="com.alibaba.dubbo" level="INFO"/>
    </springProfile>

    <jmxConfigurator/>
</configuration>
